# MySQL server
[mysqld]
port = 3306
user = mysql
socket = /tmp/mysql.sock
bind-address = 0.0.0.0
port = 3306
max-heap-table-size = 64M
#thread-concurrency = 16
ft-min-word-len = 4
transaction-isolation = REPEATABLE-READ
tmp-table-size = 64M
bulk-insert-buffer-size = 64M
default-storage-engine = INNODB
# *** LOG ***
log_error = /var/lib/mysql/error.log
log_bin = /var/lib/mysql/mysql-bin.log
expire_logs_days = 10
max_binlog_size = 100M
datadir = /var/lib/mysql
tmpdir = /tmp
skip-external-locking
skip-name-resolve
# *** NETWORK ***
back-log = 50
max-connections = 1024
max-user-connections = 0
max-connect-errors = 10
net_buffer_length = 8K
max-allowed-packet = 16M

# *** SESSION THREAD ***
thread-cache-size = 64
thread-stack = 192K

# *** TABLE CACHE ***
table-open-cache = 2048
sort-buffer-size = 8M
join-buffer-size = 8M


# ***  Replication related settings ***
server-id           = 2
binlog-format       = mixed
binlog-cache-size   = 32K
max-binlog-size     = 512M
sync-binlog         = 0
#innodb-support-xa  = 1
log-bin             = mysql-bin
log-bin-index       = mysql-bin.index
relay-log           = mysql-relay-bin
relay-log-index     = mysql-relay-bin.index
expire-logs-days    = 10
log-slave-updates   = 1
skip-slave-start


# *** MyISAM Specific options ***
read-buffer-size = 2M
read-rnd-buffer-size = 16M
key-buffer-size = 1024M
myisam-sort-buffer-size = 16M
myisam-max-sort-file-size = 10G
myisam-repair-threads = 1
myisam-recover
# *** INNODB Specific options ***
innodb_use_native_aio = 0
innodb-fast-shutdown = 1
innodb-force-recovery = 0
innodb-buffer-pool-size = 4G
innodb-additional-mem-pool-size = 16M
innodb-log-buffer-size = 8M
#innodb-log-file-size = 256M
innodb-log-files-in-group = 3
innodb-mirrored-log-groups = 1
#innodb-data-file-path = ibdata1:10240M:autoextend
#innodb-autoextend-increment = 8M
innodb-file-per-table = 1
innodb-write-io-threads = 8
innodb-read-io-threads = 8
innodb-thread-concurrency = 16
innodb-flush-log-at-trx-commit = 2
#innodb-flush-method = O-DIRECT
innodb-max-dirty-pages-pct = 90
innodb-lock-wait-timeout = 120

[mysqldump]
quick
max-allowed-packet = 16M

[mysql]
no-auto-rehash
socket = /tmp/mysql.sock
[myisamchk]
key-buffer-size = 512M
sort-buffer-size = 512M
read-buffer = 8M
write-buffer = 8M

[mysqlhotcopy]
interactive-timeout

[mysqld-safe]
open-files-limit = 60000

